// ANIMATIONS
@-moz-keyframes subnav-large {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@-webkit-keyframes subnav-large {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes subnav-large {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@-moz-keyframes subnav-large-fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes subnav-large-fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}
@keyframes subnav-large-fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}
// END animations
